# SafeCity Docker Compose environment variables

# Database
POSTGRES_DB=safecity_db
POSTGRES_USER=safecity_user
POSTGRES_PASSWORD=safecity_pass

# Keycloak admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# AI service
HUGGING_FACE_TOKEN=
SAFECITY_AI_SIMULATION=false
SAFECITY_AI_SERVICE_URL=http://ai-service:8000

# Email API settings
EMAIL_API_PROVIDER=smtp
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=ab75a7001@smtp-brevo.com
SMTP_PASSWORD=kjhXYmnxv03HAc6Z
SMTP_AUTH=true
SMTP_STARTTLS=true
EMAIL_FROM=ab75a7001@smtp-brevo.com
